.menu-option {
    color: black;
}

.location-closed {
    background-color: #212529; /* Black/dark grey. */
}

.location-opened {
    background-color: transparent;/* Removes background-color/makes it same as site background. */
}

.location-flagged {
    background-color: Maroon;
}

.location-mine {
    background-color: Red;
}

.game-defeat {
    color: red;
}

.game-victory {
    color: green;
}

.location:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.container-lg {
    min-width: 768px;
}
