<!DOCTYPE html>
<!--suppress CheckTagEmptyBody -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Difficulty selection</title>
    <th:block th:include="layout :: head-assets"></th:block>
</head>
<body>

<div class="d-flex align-items-center min-vh-100">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col">
                <div class="pb-5"><h1>Select difficulty</h1></div>
                <div class="pb-2"><a th:href="@{/game/easy}" class="menu-option">Easy</a></div>
                <div class="pb-2"><a th:href="@{/game/normal}" class="menu-option">normal</a></div>
                <div class="pb-2"><a th:href="@{/game/hard}" class="menu-option">hard</a></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>