<!DOCTYPE html>
<!--suppress CheckTagEmptyBody -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game</title>
    <th:block th:include="layout :: head-assets"></th:block>
</head>
<body>

<div class="align-items-center text-center">
    <div class="container-lg justify-content-center">
        <div class="my-3">
            <h1 id="timer">0</h1>
        </div>
        <div id="result"></div>
        <div class="row" th:each="row: ${gameBoard.getRows()}">
            <div class="col m-1 m-lg-2 location location-closed"
                 th:each="col: ${row}"
                 th:id="'location_' + ${rowStat.index} + '_' + ${colStat.index}"
                 th:onclick="openLocation(this.id)">
            </div>
        </div>
    </div>
</div>

</body>
</html>